* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    letter-spacing: 0.36px;
    color: #7EB693;
}

h1 {
    color: #274C5B;
    font-size: 70px;
    line-height: 84px;
    letter-spacing: 0.36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
}

.button_yellow {
    background: #EFD372;
    border: 1px solid #EFD372;
    border-radius: 16px;
    width: 200px;
    height: 75px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button_yellow > a {
    text-decoration: none;
    color: #274C5B;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.36px;
}

.button_gray {
    background: #274C5B;;
    border: 1px solid #274C5B;
    border-radius: 16px;
    width: 220px;
    height: 75px;
    cursor: pointer;
}

.button_gray > a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
}

/* header стили */
.header {
    max-width: 1380px;
    margin: 40px auto;
}

.header_nav {
    display: flex;
    justify-content: space-between;
}

.header_left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.header_right {
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
    width: 160px;
    height: 70px;
    justify-content: center;
    border: 1px solid #D4D4D4;
    border-radius: 33px;
}

.header_ul {
    display: flex;
    justify-content: right;
    list-style: none;
    gap: 40px;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.cart > a {
    background-image: url(../img/bg/Rectangle.png);
    background-position: center;
    background-size: 100%;
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_uls > li {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    text-decoration: none;
    letter-spacing: 0.36px;
}

.main_uls > li > a {
    text-decoration: none;
    color: #274C5B;
    transition: 0.3s;
}

.main_uls > li > a:hover {
    color: #7EB693;
    transition: 0.3s;
}


/* promo стили */

.promo {
    background-image: url(../img/bg/bg-promo1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.promo .container {
    height: 100%;
}

.promo_content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.buttons > button { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons {
    padding-top: 30px;
}

/* cont стили */
.cont {
    margin: 140px 0;
}



.cont_content_left {
    height: 380px;
    background-image: url(../img/bg/bg-cont1.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
}

.cont_content {
    display: flex;
    gap: 30px;
}

.cont_content > a {
    text-decoration: none;
    width: 665px;
}

.cont_content_left > h2 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    letter-spacing: 0.36px;
}

.cont_content_left > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.36px;
    color: #FFFFFF;
}

.cont_content_right {
    height: 380px;
    background-image: url(../img/bg/bg-cont2.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
}

.cont_content_right > h2 {
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    letter-spacing: 0.36px;
}

.cont_content_right > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.36px;
    color: #274C5B;
}

/* about стили  */

.about_img {
    padding-top: 45px;
    width: 50%;
}

.about_content {
    display: flex;
    align-items: center;
}

.about_content_right {
    width: 50%;
}

.about_content_text > p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #525C60;
    padding-bottom: 22px;
}

.about_content_text > h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.36px;
}

.about_content_block1 {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.about_content_block2 {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.block_img {
    width: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.block_text > h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.36px;
    color: #274C5B;
    margin-bottom: 5px;
}

.block_text > p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #525C60;
}

/* products стили */



.prod_top {
    margin-bottom: 10px;
}

.products_content_text > h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #274C5B;
}

.products_content_text {
    margin-bottom: 90px;
    text-align: center;
}

.products_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    transition: 0.9s;
}

.products_content > a {
    text-decoration: none;
}

.prod_h3 {
    background: #274C5B;
    border-radius: 8px;
    width: 118px;
    height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.prod_h3 > h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #FFFFFF;
}

.prod_h3_2 {
    background: #274C5B;
    border-radius: 8px;
    width: 69px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}


.prod_h3_2 > h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #FFFFFF;
}

.prod_p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    border: 1px solid rgba(74, 74, 74, 0.209);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    letter-spacing: 0.36px;
    color: #274C5B;

}

.products > .container {
    margin-top: 180px;
    margin-bottom: 100px;
}

.product {
    width: 387px;
    height: 520px;
}

.prod_bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod_bot_p {
    display: flex;
    gap: 10px;
}

.prod_bot_p1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0.36px;
    text-decoration-line: line-through;
    color: #B8B8B8;
}

.prod_bot_p2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #274C5B;
}


.imgs > img {
    width: 13px;
    height: 13px;
}

.product_wrap:hover {
    background-color: greenyellow;
    transition: 0.9s;
}

/* testi стили */

.testi {
    background-image: url(../img/bg/bg-promo5.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.testi_content_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.avatar {
    margin-bottom: 20px;
}

.imgs_testi {
    margin-bottom: 30px;
}

.testi_content_top_desc {
    margin-bottom: 23px;
}

.testi_content_top_desc > p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #525C60;
}

.testi_content_top_title {
    margin-bottom: 60px;
}

.testi_content_top_title > h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #274C5B;
}

.testi_content_top_botdesc > h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.testi_content_top_botdesc > p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #525C60;
}

.testi_content {
    padding-top: 130px;
    padding-bottom: 150px;
}

.hr {
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.elem > h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.elem > h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.elem {
    text-align: center;
    width: 250px;
    height: 250px;
    border: 6px solid #7EB693;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.testi_content_bot {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 26px;
}


/* offer стили */

.offer {
    background: #274C5B;
    padding-top: 110px;
    padding-bottom: 110px;
}

.offer_content {
    margin-top: 110px;
    margin-bottom: 110px;
}

.offer_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 47px;
}

.offer_bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.offer_bot > a {
    text-decoration: none;
}

.offer_top_right > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 270px;
}



.product_wrap {
    background: #FFFFFF;
    border-radius: 20px;
    width: 447px;
    height: 590px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.9s;
}

/* eco стили */

.eco {
    height: 704px;
    display: flex;
    align-items: center;
}

.eco > .container {
    margin: 0;
}

.eco_content_left {
    background-image: url(/img/bg/bg-promo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: scroll;
    width: 720px;
    height: 700px;
    margin-right: 0;
}

.eco_content_right_wrapper {
    background-color: #FFFFFF;
    width: 720px;
    height: 623px;
    border-radius: 30px 0px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    right: 60px;
    
}

.eco_content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eco_content_right_content {
    padding-left: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    padding-top: 40px;
}

.eco_content_right_text > h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 58px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #274C5B;
}

.eco_content_right_text {
    margin-bottom: 30px;
}

.eco_content_right_block {
    margin-bottom: 15px;
}

.eco_content_right_block > h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.36px;
    text-transform: capitalize; 
    color: #274C5B;
}

.eco_content_right_block > p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #525C60;
}


/* categ стили */


.categ {
    max-width: 100%;
    display: flex;
    padding: 140px 0;
    background: #EFF6F1;
    justify-content: space-between;
}

.categ_fruit {
    background-image: url(/img/bg/bg-cat1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: scroll;
}

.categ_fruit > a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.categ_organic {
    background-image: url(/img/bg/bg-cat2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: scroll;
}

.categ_organic > a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.categ_nuts {
    background-image: url(/img/bg/bg-cat3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    background-attachment: scroll;
}

.categ_nuts > a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.categ div a:hover {
    background-color: greenyellow;
}

.width_height {
    padding: 245px 115px
}

.categ_button {
    padding: 30px 80px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 1px;
    height: 1px;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    transition: 0.9s;
}

/* categ2 стили */

.categ1 {
    margin-top: 140px;
    margin-bottom: 140px;
}

.categ_content {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 30px;
}

.categ_button1 {
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    transition: 0.9s;
}

.categ_button1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #274C5B;
    text-decoration: none;
}


.categ_content_block1 {
    background-image: url(../img/bg/bg-cat1.png);
    background-repeat: no-repeat;
    width: 460px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categ_content_block2 {
    background-image: url(../img/bg/bg-cat2.png);
    background-repeat: no-repeat;
    width: 460px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categ_content_block3 {
    background-image: url(../img/bg/bg-cat3.png);
    background-repeat: no-repeat;
    width: 460px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categ_content_block_text > h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.categ_content_block_text {
    width: 280px;
    height: 95px;
    background-color: #FFFFFF;
    border-radius: 15px;
}

.categ_content_block_text {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.9s;
}

.categ_content_block_text:hover {
    background-color: greenyellow;
    transition: 0.9s;
}



/* subs стили */

.subs_content {
    background-image: url(../img/bg/bg-promo4.png);
    background-repeat: no-repeat;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.subs_content_left > h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #FFFFFF;
}


.subs_content_right > input {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    width: 350px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #525C60;
    padding: 0 30px;

}

.subs_content_right > button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 200px;

}

.subs_content_right {
    display: flex;
    gap: 10px;
}

/* footer стили */

.footer {
    margin-top: 88px;
    margin-bottom: 88px;
}


.footer_content_left {
    width: 270px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footer_content_center {
    width: 670px;
    height: 370px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-left: 1px solid rgba(74, 74, 74, 0.209);
    border-right: 1px solid rgba(74, 74, 74, 0.209);
}

.footer_content_right {
    width: 335px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.marg {
    text-align: right;
    margin-bottom: 35px;
}

.right {
    text-align: right;
    margin-bottom: 40px;
}

.footer_content_title > h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.36px;
    color: #274C5B;
}

.title2 {
    margin-bottom: 20px;
}

.footer_content_block > h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.36px;
    color: #525C60;
    margin-bottom: 5px;
}

.footer_content_block > a  {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.36px;
    color: #525C60;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    gap: 24px;
}

.logo2 {
    margin-bottom: 44px;
}

.footer_content_text > p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #525C60;
}

.footer_content_text {
    margin-bottom: 50px;
}

.footer_content_icons {
    display: flex;
    gap: 60px;
}



