@media (max-width:1390px) {

    .container {
        max-width: 1130px;
    }
    .offer_wrapper h3 {
        text-align: center;
    }

    .offer_wrapper_text {
        justify-content: space-evenly;
    }
}

@media (max-width: 1290px) {
    .garden_wrraper {
        align-items: center;
        flex-direction: column;
        margin: 100px 0;
    }

    .value {
        justify-content: space-evenly;
    }

    .about_us .grapefruit {
        display: none;
    }
    .about_us_text {
        margin: auto;
    }

    .about_us {
        padding: 40px 0;
    }

    .eco_text {
        padding-right: 10px ;
    }

    .pages_wrapper {
        flex-wrap: wrap;  
        justify-content: space-evenly
    }
    
    .nutsCookies {
        margin-top: 30px;
    }
}

@media (max-width:1275px) {
    .testimonial_wrapper {
        padding: 100px;
    }
    .product_wrapper_item {
        justify-content: space-evenly;
    }
}

@media (max-width:1260px) {
    .value {
        flex-wrap: wrap;
    }
}

@media (max-width:1230px) {
    h2 {
        font-size: 43px;
        line-height: 53px;
    }

    p {
        font-size: 18px;
    }

    .eco_text h2 {
        margin-bottom: 18px;
    }
}

@media (max-width:1210px) {
    .img {
        display: none;
    }

    .eco_wrapper {
        position: relative;
        top: 0;
        left: 0;
    }

    .eco_wrapper {
        text-align: center;
        margin: auto;
    }

    .eco_text h2 {
        max-width: 660px;
    }
}

@media (max-width:1030px) {
    .header_wrapper {
        flex-direction: column;
        align-items: center;
    }

    .header_wrapper .logo {
        margin-right: 0;
    }
    
    .basket {
        margin-left: 0;
    }

    .subscribe_wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .subscribe_wrapper h2 {
        max-width: 590px;
    }
}

@media (max-width:980px) {

    .footer {
        flex-direction: column;
    }

    .footer_right,
    .footer_left {
        margin: 0;
    }

    .footer_center {
        border-left: none;
        border-right: none;
        border-top: 2px solid #D5D5D5;
        border-bottom: 2px solid #D5D5D5;
    }
}

@media (max-width:935px) {

    .organicFood {
        margin-top: 30px;
    }
}

@media (max-width:715px) {
    input {
        width: 250px;
    }

    .shop {
        max-width: 150px;
    }

    .subscribe_wrapper {
        justify-content: start;
    }
}

@media (max-width:855px) {
    .offer_wrapper, 
    .pages_wrapper,
    .testimonial_wrapper,
    .product_wrapper {
        padding: 40px;
    }
}

@media (max-width:690px) {
    .garden_wrapper_item img {
        width: 100%;
    }

    .offer_wrapper_text {
        flex-direction: column;
    }
}

@media (max-width:630px) {
    .garden_text p {
        font-size: 30px;
        line-height: 32px;
    }
    
    .garden_text h3 {
        font-size: 30px;
    }

    .garden_text {
        top:90px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }
}

@media (max-width:610px) {
    .organic_food img {
        display: none;
    }

    .product_wrapper h2 {
        margin-bottom: 30px;
    }
}

@media (max-width:520px) {
    .about_us_text h2 {
        margin: 0;
        font-size: 36px;
        line-height: 45px;
    }

    .organic_food p {
        font-size: 16px;
        line-height: 27px;
        margin: 0;
    }

    .welcom {
        margin-bottom: 15px;
    }

    h1 {
        font-size: 62px;
    line-height: 73px;
    }

    .promo {
        height: 610px;
    }

    .promo_wrapper {
        padding: 100px 0;
    }

    .product_wrapper_item > a {
        max-height: 570px;
        max-width: 410px;
    }

    .food > img {
        width: 100%;
    }

    .food h4 {
        font-size: 18px;
    }

    .price_item {
        font-size: 16px;
        margin: 0;
    }

    .cross {
        font-size: 14px;
    }

    .price {
        flex-direction: column;
    }

    .food_vegetables {
        max-width: 95px;
    }

    .food_vegetables p {
        font-size: 13px;
    }
}

@media (max-width:560px) {
    .nav ul {
        flex-direction: column;
    }

    .pages_wrapper {
        display: none;
    }

    .subscribe_wrapper {
        padding: 55px 30px;
    }

    .subscribe_wrapper h2 {
        font-size: 37px;
        line-height: 45px;
    }

    .subscribe_input > .shop {
        margin-top: 10px;
    }

    input::placeholder {
        padding-left: 15px;
    }
}

@media (max-width:480px) {
    .garden_wrraper {
        margin: 50px 0;
    }
    .garden_text p {
        font-size: 24px;
    }

    .garden_text h3 {
        font-size: 24px;
    }
}

@media (max-width:460px) {
    .garden_text {
        top:65px;
        left: 30px;
    }

    h2 {
        font-size: 35px;
    }

    .eco_text h4 {
        font-size: 20px;
        line-height: 25px;
    }

    .eco_text h2 {
        margin-bottom: 5px;
    }

    .eco_text p {
        font-size: 16px;
    }
}

@media (max-width:400px) {
    .garden_text {
        top: 42px;
    }

    .promo_wrapper_item h1 {
        margin: 15px 0;
    }

    h1 {
        font-size: 50px;
        line-height: 56px;
    }

    h3 {
        font-size: 26px;
    }

    .fruitJuice_border, 
    .organicFood_border, 
    .nutsCookies_border {
        top: 243px;
        left: 30px;
    }

    .eco_text {
        padding: 3px 8px 0px 30px;
    }

    .logo img {
        display: none;
    }

    .footer_center p {
        display: none;
    }

    .footer {
        padding: 0 30px 59px 40px
    }

    .footer_social {
        margin: 0;
    }


}

@media (max-width:320px) {
    .shop {
        margin-top: 16px;
    }

    .garden_text h3 {
        line-height: 50px;
    }
}

