* {
    padding: 0;
    margin: 0;
}

body {
    color: #274C5B;
    font-size: 18px;
    letter-spacing: 0.36px;
    line-height: 65px;
    font-family:'Roboto', sans-serif;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
}

h2 {
    color:#274C5B;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    text-transform: capitalize;
}

h3 {
    font-family:'Yellowtail', cursive;
    font-size: 36px;
    color: #7EB693;
    text-transform: capitalize;
    font-weight: 400;
}

h4 {
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
}

h5 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: #274C5B;
}

p{
    font-size: 19px;
    line-height: 32px;
    color: #274C5B;
    font-weight: 400;
}

.header_wrapper {
    margin: 15px 0;
    display: flex;
}

.header_wrapper .logo {
    margin-right: 120px;
}

.nav ul {
    display: flex;
    list-style: none;
}

li > a {
    text-decoration: none;
    font-size: 20px;
}

li > a:hover {
    color: #7EB693;
}

.nav li:not(:last-child) {
    margin-right: 41px;
}

.basket {
    border: 1px solid #D4D4D4;
    border-radius: 33px;
    width: 159px;
    height: 70px;
    margin-left: auto;
}

.basket_wrapper {
    display: flex;
    align-items: center;
    padding: 7px 24px 7px 11px;
    justify-content: space-around;
}

.basket_wrapper:hover {
    cursor: pointer;
}

.basket_wrapper p {
    font-size: 17px;
    padding-left: 10px;
}

.promo {
    background-image: url(./image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 913px;
}

.promo_wrapper {
    padding: 220px 0 250px 0;
}

.promo_wrapper_item {
    max-width: 496px;
    max-height: 428px;
}

.promo_wrapper_item h1{
    margin: 14px 0 30px 0;
}

.promo_button {
    border: none;
    border-radius: 16px;
    background-color: #EFD372;
    Width: 219px;
    Height:82px;
}

.explore {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.explore:hover {
    cursor: pointer;
}

.explore_img {
    border: none;
    background-color: #335B6B;
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.explore_img img {
    padding: 13px 12px 14px 11px;
}

.garden_wrraper {
    display: flex;
    justify-content: space-between;
    margin: 140px 0;
}

.garden_wrapper_item {
    position: relative;
}

.garden_text {
    max-width: 219px;
    position: absolute;
    top: 105px;
    left: 55px;
}

.garden_text h3 {
    color: #FFFFFF;
}

.garden_text p {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.vegetables {
    max-width: 264px;
}

.vegetables h3 {
    color: #7EB693;
}

.vegetables p {
    color: #274C5B;
}

.about {
    background-color: #F9F8F8;
}

.about_us {
    padding: 130px 30px;
    display: flex;
}

.about_us_text {
    max-width:675px;
    max-Height:736px;
    margin-left: 30px;
}

.about_us_text h2 {
    max-width: 521px;
    margin: 20px 0;
}

.welcom {
    font-weight: 400;
    font-size: 17px;
    color: #525C60;
    max-width: 670px;
    margin-bottom: 30px;
}

.organic_food {
    display: flex;
    max-Width:675px;
    max-Height:104px;
}

.organic_food p {
    font-size: 18px;
    margin-top: 9px;
}

.organic_food img {
    margin-right: 20px;
}

.quality {
    margin-top: 30px;
}

.shop {
    background-color: #274C5B;
    max-width: 200px;
    margin-top: 35px;
}

.text p {
    color:#fff;
}

.product_wrapper {
    padding: 120px 0;
}

.product_wrapper h2 {
    margin-bottom: 40px;
}

.product_text {
    text-align: center;
}

.product_item{
    border: 1px solid #F9F8F8;
    background-color:#F9F8F8;
    border-radius: 30px;
    padding: 20px 15px ;
    margin-bottom: 20px;
}

.product_item:hover {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.product_wrapper_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.food_vegetables {
    border: 1px solid #274C5B;
    background-color: #274C5B;
    border-radius: 8px;
    max-width: 118px;
    max-height: 37px;
}

.food_vegetables p {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    text-align: center;
}

.food h4 {
    font-size: 22px;
    border-bottom: 1px solid #E5E5E5;
}

.price {
    display: flex;
    align-items: center;
    padding-top: 11px;
}

.cross {
    text-decoration: line-through;
    color: #B8B8B8;
    font-size: 17px;
}

.price_item {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 80px;
}

.price img {
    width: 85px;
    height: 19px;
}

.testimonial {
    background-image: url(./image/bg_testimonial.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial_wrapper {
    padding: 130px 130px;
}

.testimonial_text {
    text-align: center;
}

.testimonial_text h2 {
    margin-bottom: 60px;
}

.stars {
    display: block;
    margin:auto;
}

.text_about {
    margin: 30px auto 23px auto;
    max-width: 943px;
    font-size: 18px;
}

.testimonial_text h4 {
    font-size: 26px;
    font-weight: 700;
}

.consumer {
    color: #525C60;
    font-size: 14px;
    margin-bottom: 96px;
}

.value {
    display: flex;
    margin-top: 100px;
}

.green {
    border: 6px solid #7EB693;
    border-radius: 200px;
    width: 250px;
    height: 250px;
}

.white {
    border: 5px solid #FFFFFF;
    border-radius: 200px;
    background-color: #F1F1F1;
    width: 240px;
    height: 240px;
}

.green:not(:last-child) {
    margin-right: 26px;
}

.value_text {
    text-align: center;
    padding: 80px 0;
}

.value_text h4 {
    font-weight: 700;
font-size: 42px;
line-height: 55px;
}

.value_text p {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 32px;
text-transform: capitalize;
}

.offer {
    background-color: #274C5B;
}

.offer_wrapper {
    padding: 140px 0;
}

.offer_wrapper_text {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 43px;
}

.offer_wrapper h2 {
    color: #FFFFFF;
    text-transform: capitalize;
}

.button_offer {
    max-width: 267px;
    max-height: 82px;
}

.eco {
    position: relative;
}

.eco_wrapper {
    background-color: #fff;
    max-width: 720px;
    max-height: 623px;
    border-radius: 30px 0px 0px 30px;
    position: absolute;
    top: 40px;
    left: 660px;
}

.eco_text h2 {
    max-width: 315px;
    max-height: 106px;
    margin-bottom: 30px;
}

.eco_text {
    padding: 39px 114px 55px 60px;
}

.eco_text h4 {
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    text-transform: capitalize;
}

.eco_text p {
font-size: 18px;
}

.pages {
    background-color: #EFF6F1;
}

.pages_wrapper {
    padding: 140px 0;
    display: flex;
    justify-content: space-between
}

.fruitJuice {
    background-image: url(./image/bg_fruitJuice.jpg);
    background-repeat: no-repeat;
    width: 460px;
    height: 580px;
    position: relative;
}

.organicFood {
    background-image: url(./image/bg_organicFood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 460px;
    height: 580px;
}

.nutsCookies {
    background-image: url(./image/bg_NutsCookies.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 460px;
    height: 580px;
}

.fruitJuice_border,
.organicFood_border,
.nutsCookies_border {
    border: 1px solid #fff;
    background-color: #fff;
    max-Width: 281px;
    max-Height: 95px;
    position: absolute;
    top: 243px;
    left: 71px;
    border-radius: 20px;
}

.organicFood_border,
.nutsCookies_border {
    max-Width: 313px;
}

.fruitJuice_border p,
.organicFood_border p,
.nutsCookies_border p{
    font-weight: 700;
    font-size: 25px;
    padding: 30px 78px;
    text-transform: capitalize;
}

.subscribe {
    margin: 30px 0 100px 0;
    background-image: url(./image/bg_subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}

.subscribe_wrapper {
    padding: 100px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.subscribe_wrapper h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    max-width: 327px;
    color: #fff;
}

input {
    width: 350px;
    height: 82px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.subscribe_input > .shop {
    margin: 0;
}

input::placeholder {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    padding-left: 30px;
}

.footer {
    padding: 0 59px 85px 60px;
    display: flex;
}

.footer_left,
.footer_right{
    flex: 1 1;
}

.footer_center {
    flex: 2;
    border-right: 2px solid #D5D5D5;
    border-left: 2px solid #D5D5D5
}

.footer_left {
    text-align: right;
    margin-right: 20px;
}

.footer_left h4 {
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    text-transform: capitalize;
    margin-bottom: 34px;
}

.phone, 
.email {
    margin-bottom: -10px;
}

.footer_left a, 
.footer_left p,
.footer_center p,
.footer_right a {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 32px;
    color: #525C60;
} 

.footer_left p:not(:last-child) {
    margin-bottom: 40px;
}

.footer_center {
    text-align: center;
    padding: 0 52px;
}

.footer_social {
    margin-top: 50px;
}

.footer_social > a:not(:last-child) {
    margin-right: 20px;
}

.footer_right {
    margin-left: 20px;
}

.footer_right ul {
    list-style: none;
    max-Width:335px;
    max-Height:240px;
}

.footer_right li:not(:last-child) {
    margin-bottom: -15px;
}

.footer_right h4 {
    margin-bottom: 20px;
}

.footer_down iframe {
    width: 100%;
}

