.about {
  background-color: #f9f8f8;
}

.about_block {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-top: 130px;
  padding-bottom: 140px;
}

.about_rightBlock {
  flex: 0 1 50%;
}

.about_pic {
  max-width: 675px;
}

.about_img{
  flex: 0 1 50%;
}

.about_img img {
  max-width: 100%;
}

.about_top {
  margin-bottom: 56px;
}

.about_zagolovok {
  max-width: 525px;
  margin-bottom: 22px;
}

.about_top_text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #525c60;
}

.about_bottom:first-child {
  margin-bottom: 30px;
}

.about_bottom {
  display: flex;
}

.about_bottom_text {
  margin-bottom: 50px;
}

.about_icon {
  margin-right: 23px;
}

.about_icon_h5 h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.36px;
  color: #274c5b;
}

.about_icon_h5 p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #525c60;
}

.button_about {
  display: inline-flex;
  padding: 23px 8px 23px 33px;
  align-items: center;

  text-decoration: none;
  color: #fff;
  font-family: "Roboto" sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.6px;

  background-color: #274c5b;
  border-radius: 16px;
}
.button_about:hover {
  background-color: #efd372;
  color: #274c5b;
  box-shadow: 0px 5px 5px #767676;
}

.button_about:active {
  box-shadow: 0px 5px 1px #ccb560;
}
