.products_block {
  padding: 120px 0;
}

.products_top {
  text-align: center;
  margin-bottom: 66px;
}

.products_catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
}

.product {
  padding: 30px 30px 20px;
  background-color: #f9f8f8;
  border-radius: 30px;
}

.product:hover {
  box-shadow: 0px 0px 8px #b8b8b8;
}

.products_button {
  padding: 5px 20px;
  background-color: #274c5b;
  border-radius: 8px;
  display: inline-block;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.36px;
  color: #ffffff;
  text-decoration: none;
}

.products_img {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.product img{
  max-width: 100%;
  max-height: 378px;
}

.product_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 0.36px;
  color: #274c5b;
  text-decoration: none;

  display: block;
  padding-bottom: 11px;
  border-bottom: 1px solid rgba(184, 184, 184, 1);
  margin-bottom: 11px;
}

.product_name:hover{
  color: rgba(126, 182, 147, 1);
}

.cost_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.fake_cost {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.36px;
  text-decoration-line: line-through;
  color: #b8b8b8;

  margin-right: 10px;
}

.bold_cost {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #274c5b;
}
