.testimonial {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;
}

.testimonial_block {
  padding-top: 130px;
  padding-bottom: 150px;
  text-align: center;
}

.testimonial_top {
  padding-bottom: 60px;
}

.feedback {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

.photo {
  margin-bottom: 18px;
}

.tbt_p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #525c60;

  max-width: 1025px;
  margin-bottom: 23px;
  padding: 0 20px;
}

.customer_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #274c5b;
}

.job {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #525c60;

  margin-bottom: 96px;
}

.line {
  border-top: 2px solid #e0e0e0;
  max-width: 966px;
  margin-bottom: 100px;
}

.circles {
  display: flex;
  justify-content: center;
  gap: 26px;
}

.circle_bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}

.circle_text1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #274c5b;
}

.circle_text2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #274c5b;
}
