*{
    margin: 0;
    padding: 0;
}
aside {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    max-height: max-content;
    background-color: rgb(241, 206, 161);
}
.showTask{
    display: flex;
    flex-direction: column;
    max-width: max-content;
    background-color: rgb(241, 206, 161);
}
.HideTaskListButton {
    max-width: 100%;
    max-height: 30px;
    text-align: center;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    text-transform: uppercase;
}
.input {
    margin-top: 20px;
}
.tasks {
    margin-top: 30px;
    width: max-content;
    height: max-content;
}
li {
    display: block;  
    max-width: 100%;
    
}

.checkbox {
    display: inline-block;
} 
.checkbox span {
    margin-left: 10px;
}
.clearTaskList {
    background-color: blue;
    color: azure;
}
.clearTaskList:hover {
    cursor: pointer;
}
.checkbox{
    width: 15px;
    height: 15px;
    background-color: blue;
}
.hidden {
    display: none;
}
.crosstext {
    text-decoration: line-through;
}
.color {
    background-color: green;
}