* {
    margin: 0;
    padding: 0;
}

.task-list {
    margin: 50px;
    border: 2px solid black;
    padding: 10px;
    width: 300px;
}

h2 {
    font-size: 20px;
    color: blueviolet;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.button {
    width: 150px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #aaaafa;
    background-color: green;
    color: beige;
    font-size: 18px;
    font-weight: bold;
}

.task-input {
    width: 95%;
    height: 30px;
    font-size: 14px;
    font-style: italic;
    padding: 5px 5px 5px 10px;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.item-list {
    margin-top: 30px;
    list-style: none;
}

.item-list .item {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 5px;
}

.item-list .item p {
    border-bottom: 1px solid #6f6f6f;
    padding: 5px;
    width: 95%;
}

.item-list .checkbox {
    width: 30px;
    height: 30px;
    background-color: yellow;
    margin-right: 15px;
}

.decorline {
    text-decoration: line-through;
}