* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    box-shadow: 0 20px 30px 4px rgba(0, 0, 0, 0.14),
  }

.container img {
    width: 100%;
    z-index: -2;
}

button {
    height: 10%;
    border: none;
    outline: none;
    background: rgba(151, 148, 148, 0.5);
    cursor: pointer;
    padding: 10px;
    display: flex;
}

button .arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    outline: none;
}

#right-btn {
    margin: auto 0 auto -2em;
}

#right-btn .arrow {
    transform: rotate(-45deg);
}

#left-btn {
    z-index: 0;
    margin: auto -2em auto 0;
}

#left-btn .arrow {
    transform: rotate(135deg);
}

#btn_popup {
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
}

#btn_popup:hover {
    background: #1d49aa;
  }
  
#btn_popup:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
  }

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}

.popup img {
    width: 90%;
    height: 400px;
}

.popup .popup_content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    overflow: hidden;
    z-index: 99999;
}
.popup .popup_content .close_popup {
    color: #aaa;
    float: right;
    font-weight: bold;
    cursor: pointer;
}