.categories {
  margin: 140px 0;
}

.cathegories_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.cathegory {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cathegory_text {
  padding: 243px 20px;
  display: flex;
  justify-content: center;
}

.cathegory_text a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.36px;
  text-decoration: none;
  color: #274c5b;
}

.cathegory_border {
  padding: 30px 80px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}
