@media (max-width: 1250px) {
  .container {
    max-width: 85%;
  }

  .cards-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .title_h3 {
    font-size: 20px;
  }

  .price_card {
    font-size: 20px;
  }

  .addToCart {
    font-size: 20px;
  }
  .desc {
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  .container {
    padding-bottom: 0;
  }

  .header p {
    font-size: 30px;
  }

  menu {
    justify-content: space-around;
  }

  .nav li {
    font-size: 28px;
  }

  .mainSlogan {
    margin: 0 auto;
    padding-left: 0;
    font-size: 60px;
    max-width: 500px;
    text-align: center;
  }

  .mainUl {
    margin-bottom: 0px;
  }

  .adressMain {
    text-align: end;
    padding-right: 40px;
  }

  .adressSt {
    margin-bottom: 0;
    float: right;
    padding-right: 50px;
    padding-left: 0px;
  }

  .gomer {
    display: none;
  }

  .gomerMedia {
    display: block;
    max-width: 350px;
    padding-left: 100px;
  }

  .imgOnCard {
    max-width: 200px;
  }

  .title_h3 {
    font-weight: normal;
  }

  .cards-wrapper {
    padding-bottom: 50px;
  }

  .total-price {
    padding-bottom: 50px;
  }
}

@media (max-width: 900px) {
  .header p {
    font-size: 25px;
  }

  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .cardView {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
  }

  .addressInfo {
    display: none;
  }

  .footer {
    flex-direction: column;
    padding: 0;
  }

  .contact {
    font-size: 20px;
    color: rgb(32, 3, 16);
  }
}

@media (max-width: 625px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
    max-width: 300px;
  }
}

@media (max-width: 426px) {
  .nav li {
    font-size: 20px;
  }

  .mainSlogan {
    font-size: 40px;
    max-width: 300px;
  }

  .work {
    padding: 0;
    text-align: center;
  }

  .mainUl {
    text-align: center;
    padding-left: 0;
    font-size: 20px;
    list-style: none;
  }

  .adressMain {
    text-align: center;
    padding: 0px;
  }

  .adressSt {
    font-size: 22px;
    text-align: center;
  }

  .gomerMedia {
    max-width: 200px;
  }

  .close {
    padding: 5px 10px;
    font-size: 15px;
  }

  .selected {
    font-weight: normal;
  }

  .cardView {
    width: 65%;
  }

  .imgOnCard {
    max-width: 150px;
  }

  .title {
    font-weight: normal;
  }

  .desc {
    color: rgb(78, 78, 78);
  }

  .footer {
    gap: 8px;
  }
}
