@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Fredoka One", cursive;
  font-weight: normal;
  background: #f5f5f5;
}

.app {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}

.slogan {
  font-size: 25px;
  letter-spacing: 2px;
  color: #ec519d;
}

.addressInfo {
  font-size: 25px;
  letter-spacing: 3px;
  color: #f58026;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

menu {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  margin: 0;
  background: #ec519d;
  color: #f5f5f5;
}

.nav li {
  list-style: none;
  font-size: 22px;
  cursor: pointer;
}

.nav li:active {
  color: #ec519d;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 80px;
}

.container h1 {
  text-align: center;
  color: #fff;
  letter-spacing: 5px;
  text-shadow: 2px 0px 8px #ec519d, 0px 2px 8px #ec519d, -2px 0px 8px #f58026,
    0px -2px 8px #f58026;
}

.gomer {
  float: right;
  padding-right: 50px;
}

.gomerMedia {
  display: none;
}

.mainSlogan {
  max-width: 350px;
  padding-left: 100px;
  font-size: 50px;
  letter-spacing: 2px;
  color: #f58026;
}

.work {
  color: #ec519d;
  font-size: 30px;
  margin-bottom: 0;
  padding-left: 60px;
}

.mainUl {
  color: #210e00;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 100px;
}

.adressMain {
  color: #ec519d;
  font-size: 30px;
  margin-bottom: 0;
  padding-left: 60px;
}

.adressSt {
  color: #210e00;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 100px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  padding: 15px 0px;
}

.download {
  display: flex;
  gap: 20px;
}

.download img {
  cursor: pointer;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.cardIns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  box-shadow: -5px -5px 20px #ffffff, 5px 5px 20px rgba(181, 181, 197, 0.5);
  color: #210e00;
  border-radius: 10px;
  padding: 30px;
  row-gap: 15px;
  cursor: pointer;
  min-height: 430px;
}

.card img {
  max-width: 50%;
}

.productWindow {
  display: flex;
  background: #00000047;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.cardView {
  position: relative;
  background: #fff;
  max-width: 800px;
  width: 100%;
  height: 70vh;
  padding: 60px;

  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 10px 15px;

  color: #ffffff;
  background: #ec519d;
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-size: 20px;

  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.title {
  color: #281202;
  font-size: 30px;
}

.selected {
  color: #281202;
  font-size: 30px;
}

.counter-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f3;
  box-shadow: inset 5px 5px 4px rgba(174, 174, 192, 0.2),
    inset -5px -5px 4px rgba(255, 255, 255, 0.3);
  border-radius: 50px;

  color: #a3adb2;
  font-size: 24px;
  cursor: pointer;

  margin-top: 15px;
  margin-bottom: 15px;
}

.counter-block2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #f0f0f3;
  box-shadow: inset 5px 5px 4px rgba(174, 174, 192, 0.2),
    inset -5px -5px 4px rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  color: #a3adb2;
  font-size: 24px;
  width: 150px;
  cursor: pointer;

  margin-top: 15px;
  margin-bottom: 15px;
}

.counter-block span {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f0f0f3;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.4),
    5px 5px 10px rgba(174, 174, 192, 0.2),
    inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #ffffff;

  border-radius: 20px;
  width: 42px;
  height: 42px;
  color: #a3adb2;
  font-size: 18px;
}

.counter-block2 span {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f0f0f3;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.4),
    5px 5px 10px rgba(174, 174, 192, 0.2),
    inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #ffffff;

  border-radius: 20px;
  width: 42px;
  height: 42px;
  color: #a3adb2;
  font-size: 18px;
}

.addToCart {
  display: block;
  width: 150px;
  padding: 10px 10px;
  color: #ffffff;
  background: #ec519d;
  text-align: center;
  margin: 0 auto;
  font-family: "Fredoka One", cursive;
  border: none;
  cursor: pointer;
}

.imgItemCart {
  display: block;
  margin: 0 auto;
  max-width: 30%;
}

.price {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  color: #281202;
}

.desc {
  font-size: 25px;
  color: #281202;
}

.total-price {
  margin-top: 20px;
  font-size: 28px;
  color: #281202;
}

.remove {
  display: block;
  width: 200px;
  padding: 10px 10px;
  color: #ffffff;
  background: #ec519d;
  font-size: 20px;
  text-align: center;
  font-family: "Fredoka One", cursive;
  border: none;
  cursor: pointer;

  margin-top: 15px;
  margin-bottom: 20px;
}
