@media (max-width: 1090px) {
  .description {
    max-width: 479px;
  }
}
@media (max-width: 1020px) {
  .description {
    max-width: 330px;
  }
  .info h2 {
    max-width: 320px;
  }
}
@media (max-width: 840px) {
  .slide img {
    width: 297px;
  }
}
@media (max-width: 768px) {
  .arrow {
    top: -529px;
  }
  .slide {
    flex-direction: column;
  }
}
@media (max-width: 409px) {
  .slide img {
    width: 221px;
  }
  .description {
    display: none;
  }
}
@media (max-width: 350px) {
  .info h2 {
    max-width: 259px;
  }
  .sale_text {
    font-size: 30px;
  }
}
