@media (max-width: 1365px) {
  .cart {
    margin-left: 133px;
  }
  .name_in_card {
    width: 300px;
  }
  .description_card {
    width: 500px;
  }
}
@media (max-width: 1335px) {
  .cart {
    margin-left: 120px;
  }
  .nav {
    margin-left: 184px;
  }
  .tile {
    margin-left: 30px;
  }
}
@media (max-width: 1301px) {
  .cart {
    margin-left: 79px;
  }
  .tile {
    margin-left: 0px;
  }
}
@media (max-width: 1260px) {
  .tile img {
    margin: 5px;
  }
  .nav {
    margin-left: 152px;
    margin-right: 147px;
  }
  .name_in_card {
    width: 200px;
  }
}
@media (max-width: 1250px) {
  .h2_main {
    max-width: 425px;
  }
  .tile {
    margin-left: 50px;
  }
}
@media (max-width: 1200px) {
  .h2_main {
    max-width: 425px;
  }
  .tile {
    margin-left: 40px;
  }
  .nav {
    margin-left: 123px;
    margin-right: 120px;
  }
  .card img {
    margin: 10px 58px 10px 58px;
  }
  .count_edit img {
    width: 16px;
    margin: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
}
@media (max-width: 1160px) {
  .tile img {
    width: 176px;
  }
  .nav {
    margin-left: 99px;
    margin-right: 96px;
  }
  .description_card {
    width: 385px;
  }
  .name_with_delete img {
    margin-left: 251px;
  }
}
@media (max-width: 1110px) {
  .card img {
    width: 120px;
  }
  .count_edit img {
    width: 16px;
    margin: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
  .card .button_add {
    font-size: 14px;
    padding: 10px;
  }
  .count_edit {
    width: 65px;
  }
  .card h2 {
    max-width: 170px;
    font-size: 18px;
  }
  .tile {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 96px;
  }
  .nav {
    margin-left: 68px;
    margin-right: 68px;
  }
}
@media (max-width: 1080px) {
  .card_cart img {
    width: 120px;
  }
  .name_with_delete img {
    height: 19px;
    width: 15px;
    margin-left: 200px;
    margin-right: 30px;
    cursor: pointer;
  }
}
@media (max-width: 1080px) {
  .nav li {
    font-size: 20px;
  }
}
@media (max-width: 990px) {
  .tile {
    margin-left: 65px;
  }
  .logo img,
  .logo_footer img {
    width: 220px;
    height: 58px;
  }
  .cart {
    margin-left: 58px;
  }
  .right_block_cart {
    max-width: 200px;
  }
  .shop_container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 950px) {
  .tile {
    margin-left: 29px;
  }
  .logo {
    margin-left: 45px;
  }
}
@media (max-width: 900px) {
  .tile img {
    width: 145px;
  }
  .nav {
    margin-left: 45px;
    margin-right: 54px;
  }
  .cart {
    margin-left: 29px;
  }
  .contacts {
    margin-right: 19px;
  }
  .logo_footer {
    margin-left: 45px;
  }
  .description_card {
    width: 235px;
  }
  .name_with_delete img {
    margin-left: 57px;
  }
  .right_block_cart {
    max-width: 200px;
    margin-left: 0;
  }
}
@media (max-width: 850px) {
  .links img {
    width: 124px;
  }
  .cart {
    margin-left: 8px;
  }
  .left_block {
    margin-left: 45px;
  }
  .nav {
    margin-left: 24px;
  }
}

@media (max-width: 800px) {
  .logo img,
  .logo_footer img {
    width: 165px;
    height: 45px;
  }
  .tile img {
    width: 121px;
  }
  .contact h3 {
    font-size: 16px;
  }
  .contacts h2 {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .tile {
    display: none;
  }
  .first-block_container {
    justify-content: center;
  }
  .left_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .h2_main {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  .logo_footer h2 {
    max-width: 205px;
    font-size: 20px;
  }
  .right_block_cart {
    max-width: 136px;
  }
}
@media (max-width: 740px) {
  .shop_container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .header_container {
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .cart {
    margin-right: 0;
  }
  .right_block_cart {
    top: 135px;
  }
  .logo {
    margin-left: 0px;
  }
}
@media (max-width: 700px) {
  .cart_container2 {
    flex-direction: column;
    align-items: center;
  }
  .right_block_cart {
    margin-top: 10px;
    max-width: 400px;
    position: static;
  }
  .logo_footer {
    display: none;
  }
  .links {
    flex-direction: row;
  }
  .footer_container {
    flex-direction: column;
    padding-top: 12px;
  }
  .links img {
    margin-left: 10px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
}
@media (max-width: 550px) {
  .nav {
    margin-left: -14px;
    margin-right: 21px;
  }
}
@media (max-width: 520px) {
  .card_cart {
    margin-left: 16px;
  }
  .name_with_delete img {
    margin-left: 23px;
  }
}
@media (max-width: 491px) {
  .shop_container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .card_cart {
    flex-direction: column;
  }
  .card_cart img {
    margin-bottom: 20px;
  }
  .nav li {
    font-size: 16px;
    padding-left: 22px;
  }
}
@media (max-width: 425px) {
  h1 {
    font-size: 50px;
    width: 328px;
  }
  .h2_main {
    font-size: 24px;
    max-width: 267px;
  }
  .nav {
    display: none;
  }
  .hamb_menu {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 376px) {
  .price_cart {
    font-size: 16px;
  }
  .count_cart {
    font-size: 14px;
    width: 20px;
    height: 20px;
  }
  .cart img {
    width: 40px;
  }
  .cart {
    margin-left: 0;
  }
  .nav li {
    padding-left: 14px;
  }
}
@media (max-width: 336px) {
  .info_card {
    margin-left: 10px;
  }
}
@media (max-width: 314px) {
  .nav {
    margin-right: 8px;
  }
  .nav li {
    padding-left: 10px;
  }
  .price_cart {
    font-size: 13px;
  }
  .contact h3 {
    font-size: 14px;
  }
  h1 {
    font-size: 46px;
    width: 288px;
  }
  .h2_main {
    font-size: 24px;
    max-width: 239px;
  }
}
