@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.header {
  position: sticky;
  top: -0.5px;
  z-index: 999;
  background-color: white;
}

.header_container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-left: 80px;
}

.logo img,
.logo_footer img {
  width: 250px;
  height: 66px;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav {
  margin-right: 165px;
  margin-left: 210px;
}

.nav li {
  padding-left: 40px;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.nav a {
  text-decoration: none;
  color: black;
}

.nav li:hover,
.nav a:hover {
  color: rgb(13, 150, 95);
}

.cart {
  margin-right: 150px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 300px;
  margin-left: 171px;
}

.cart img {
  width: 55px;
  cursor: pointer;
}

.cart_info {
  display: flex;
  flex-direction: column;
}

.price_cart {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  color: black;
  margin-top: 15px;
  display: none;
}

.count_cart {
  background-color: rgb(6, 105, 92);
  color: azure;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 20px;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  text-align: center;
  justify-content: center;
  position: relative;
  right: 20px;
  display: none;
}

.first_block {
  background-color: rgb(6, 105, 92);
}

.first-block_container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left_block {
  margin-left: 80px;
}

h1 {
  color: azure;
  font-size: 70px;
  font-family: "Josefin Sans";
  font-weight: 400;
  padding-top: 73px;
  width: 400px;
}

.h2_main {
  margin-top: 36px;
  max-width: 550px;
  font-size: 28px;
  color: rgb(176, 210, 205);
  font-family: "Raleway";
  line-height: 50px;
  font-weight: 300;
}

.button_shop {
  border: none;
  margin-top: 36px;
  font-size: 28px;
  color: rgb(255, 255, 255);
  font-family: "Josefin Sans";
  font-weight: 600;
  padding: 20px;
  margin-bottom: 73px;
  background-color: #0ea13f;
  border-radius: 3px;
  cursor: pointer;
}

.tile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-left: 70px;
}

.tile img {
  width: 192px;
  margin: 10px;
  border-radius: 5px;
}

.second_block {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.slider {
  transition: 0.5s;
  width: calc(100% * 5);
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

.slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 57px;
  margin-left: 130px;
  width: 1300px;
}

.slide img {
  width: 350px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}

.info h2 {
  font-size: 30px;
  font-family: "Raleway";
  font-weight: 600;
  text-align: center;
  max-width: 500px;
}

.description {
  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 22px;
  font-family: "Josefin Sans";
  text-align: center;
  font-weight: 300;
  line-height: 20px;
}

.sale_text {
  font-size: 45px;
  font-family: "Raleway";
  font-weight: 800;
  color: rgb(6, 105, 89);
  text-shadow: 1px 1px 20px rgb(160, 220, 210);
}

.price_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.price {
  font-family: "Josefin Sans";
  text-decoration: line-through;
  font-size: 26px;
  color: rgb(109, 131, 124);
}

.price_sale {
  font-family: "Josefin Sans";
  font-size: 40px;
  padding-left: 15px;
  color: rgb(0, 64, 38);
}

.button_add {
  border: none;
  margin-top: 36px;
  font-size: 28px;
  color: rgb(255, 255, 255);
  font-family: "Josefin Sans";
  font-weight: 600;
  padding: 20px;
  margin-bottom: 73px;
  background-color: #4f8f7c;
  border-radius: 3px;
  cursor: pointer;
}

.button_add:hover {
  background-color: rgb(6, 105, 92);
  scale: 1.05;
}

.arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 30px;
  position: relative;
  top: -366px;
}

.arrow_left,
.arrow_right {
  font-size: 50px;
  color: #5e7870;
  cursor: pointer;
}

.arrow_left:hover,
.arrow_right:hover {
  color: #104e3b;
  scale: 1.2;
}

.footer {
  background-color: rgb(6, 105, 92);
}

.footer_container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 35px;
  justify-content: space-between;
}

.logo_footer {
  margin-left: 80px;
}

.logo_footer h2 {
  font-size: 26px;
  color: azure;
  font-family: "Josefin Sans";
  font-weight: 400;
  max-width: 250px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links img {
  width: 180px;
  margin-bottom: 20px;
  cursor: pointer;
}

.contacts {
  margin-right: 30px;
}

.contacts h2 {
  font-size: 30px;
  color: azure;
  font-family: "Josefin Sans";
  font-weight: 400;
  margin-bottom: 15px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.contact img {
  width: 18px;
  margin-right: 8px;
}

#img_loc {
  width: 13px;
  height: 18px;
}

.contact h3 {
  font-size: 20px;
  color: azure;
  font-family: "Josefin Sans";
  font-weight: 200;
}

.shop {
  background-color: #ebebeb;
}

.shop_container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgb(109, 131, 124) 1px 2px 5px;
}

.card img {
  width: 150px;
  margin: 10px 70px 10px 70px;
}

.card h2 {
  font-size: 20px;
  color: rgb(3, 63, 55);
  font-family: "Raleway";
  font-weight: 700;
  max-width: 200px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 16px;
  color: rgb(1, 28, 24);
  font-family: "Raleway";
  font-weight: 400;
  margin-top: 15px;
}

.price_container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
  align-items: center;
}

.price_container h4 {
  font-family: "Josefin Sans";
  font-size: 30px;
  color: rgb(34, 100, 74);
}

#old_price {
  font-family: "Josefin Sans";
  text-decoration: line-through;
  font-size: 26px;
  color: rgb(109, 131, 124);
  font-weight: 400;
  padding-right: 20px;
}

.add_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.count_edit {
  border-radius: 5px;
  border: #104e3b 2px solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 78px;
  margin-right: 15px;
  justify-content: space-between;
}

.count_edit img{
  width: 16px;
  margin: 5px;
  margin-right: 5px;
}

.count_edit h5 {
  font-family: "Josefin Sans";
  font-weight: 600;
  font-size: 20px;
}

.card .button_add {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-family: "Josefin Sans";
  font-weight: 600;
  padding: 20px;
  background-color: #4f8f7c;
  border-radius: 3px;
  cursor: pointer;
}

.card .button_add:hover {
  background-color: rgb(6, 105, 92);
  scale: 1.05;
}

.card_container {
  background-color: #ebebeb;;
}

.card_container2 {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#empty {
  font-family: "Josefin Sans";
  font-weight: 600;
  font-size: 70px;
  margin-top: 100px;
  color: #bbbbbb;
}


