
@media (max-width:1620px) {
.width_height {
    padding: 245px 90px;
    text-align: center;
  }
.button_range {
    
  }
}
@media (max-width:1440px) {
  .width_height {
    padding: 235px 90px;
    text-align: center;

  }
.button_range {
    padding: 15px 10px;
   
  }
}
@media (max-width:1360px) {
  .menu {
    max-width: 1070px;
}
  .welcom_text {
    max-width: 1070px;
  }
  .welcom_text div.text {
    padding-top: 185px;
    }
  .welcom {
    height: 700px;
  }
  .strong_health_container {
    max-width: 1070px;
  }
  .strong_health_img img {
    height:480px ;
  }
  .organic img, 
  .quality img {
    max-width: 100px;
    height: 100px;
  }
  .organic_products {
    max-width: 1070px;
  }

  .organic_products_header {
    flex-wrap: wrap;
  }
  .organic_products_footer {
    flex-wrap: wrap;
  }
  .org_prod_fon {
    padding: 62px;
  }
  .offer_products {
    height: 731px;
  }
  .offer_products_container {
    max-width: 1070px;
  }
  .offer_products .organic_products_footer{
    flex-wrap: nowrap;
  }
  .offer_products .organic_products_footer .org_prod_fon {
    max-width: 245px;
    height: 345px;
    padding: 45px;
    margin-right: 30px;
  }
  
  .offer_products .organic_products_footer .org_prod_fon img {
    max-width: 200px;
    height: 200px;
    margin: 10px auto;
  }
  .offer_products .organic_products_footer .org_prod_fon div.underline p{
    font-size: 15px;
  }
  .offer_products .organic_products_footer .org_prod_fon div.underline .grade {
    font-size: 15px;
    margin: 0;
}
  .width_height {
    padding: 235px 70px;
    text-align: center;

  }
  .menu__item {
    font-size: 15px;

  }
  .menu__box li.li_item {
    padding-left: 60px;
  }
  .li_items img {
    max-width: 45px;
    height: 45px;
  }
  .li_items {
    max-width: 115px;
    height: 43px;
    border-radius: 33px;
    margin-left: 165px;
    padding: 7px;
  }
  .menu__items h2 {
    padding: 7px;
    font-size: 18px;
  }
  .natural {
    max-width: 1000px;
    margin: 120px auto;
    display: flex;
  }
  .natural_foods {
    max-width: 480px;
    padding-left: 20px;
  }
  .natural_foods_stonks {
    max-width: 480px;
    padding-left: 20px;
  }
  .subs {
    max-width: 1070px;
    padding: 100px 27px;
  }
}  
  
@media (max-width:1232px) {
  
}
@media (max-width:1024px) {
  
  .welcom_text {
    max-width: 875px;
  }
  .org_prod_fon {
    margin: 20px auto;
  }
  .strong_health_container {
    max-width: 1000px;
  }
  .button_range {
    padding: 15px 15px;
    font-size: 20px;
  }
  .button_range::first-letter {
    padding: 15px 90px;
  }
  .width_height {
    margin: 20px 0 20px 0;
    text-align: center;
    padding: 200px 45px
  }

  .description{
    max-width: 950px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .description .border_gree{
    max-width: 953px;
    margin: 0 auto;
    justify-content: space-between;
}
  .description_circle {
    max-width: 200px;
    
    background: #F1F1F1;
    border: 5px solid white;
    border-radius: 50%;
    padding: 0;
    
  }
  .border_green {
    margin-right: 0;
  }
  .description_circle_text {
    padding-top: 20px;
  }
  .description_circle_text_up{
    font-size: 35px;
  }
  .description_circle_text_down{
    font-size: 15px;
  }
  .natural_foods {
    margin-right: 16px;
}
  .menu {
    max-width: 1000px;
  }
  .menu__item {
    font-size: 15px;
  }
  .menu__box li.li_item {
    padding-left: 40px;
  }
  .li_items img {
    max-width: 45px;
    height: 45px;
  }
  .menu {
    text-align: center;
  }
  .li_items {
    max-width: 115px;
    height: 43px;
    border-radius: 33px;
    margin-left: 130px;
    padding: 7px;
  }
  .menu__items h2 {
    padding: 7px;
    font-size: 18px;
  }
  .natural {
    max-width: 1000px;
    margin: 120px auto;
    display: flex;
  }
  .natural_foods {
    max-width: 450px;
    padding-left: 20px;
  }
  .natural_foods_stonks {
    max-width: 450px;
    padding-left: 20px;
  }
  .eco_friendly_a {
    max-width: 455px;
    height: 525px;
    padding: 10px 40px 55px 60px;
}
  .subs {
    max-width: 900px;
    padding: 100px 27px;
  }
  .eco_friendly_a a {
    font-size: 25px;
  }
  .eco_friendly_a h2 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .eco_friendly_a p {
    font-size: 15px;
}
}

@media (max-width:820px) {
  

  .menu {
    max-width: 700px;
    height: 70px;
    padding-top: 30px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .container_header {
    position: fixed;
    position: sticky;
    top: 0px;
    margin: 0 auto;
    z-index: 3;
    background: #d2d2d2;
  }
  
  .welcom_text {
    max-width: 700px;
  }
  .natural {
    display: inline-block;
    max-width: 720px;
    margin: 30px auto;
  }
  .natural_foods {
    margin: 20px auto;
    
  }
  .natural_foods_stonks {
    margin: 0 auto;
  }
    #menu__toggle {
        display: block;
    }
    #menu__toggle { 
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center; 
    margin-left: 265px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .li_items {
    margin: 20px 0 0 40px;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    
    visibility: hidden;
    top: 0;
    

    max-width: 300px;
  

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
  }

  
  .welcom {
    height: 500px;
    margin: 0;
  }
  .welcom_text div.text {
    padding-top: 40px;
  }
  .welcom_text h1 {
    font-size: 50px;
  }
  .strong_health {
   padding-top: 55px;
  }
  .strong_health_img img {
    max-width: 385px;
    height: 380px;
  }
  .strong_health_text_header .text_header1 {
    font-size: 30px;
  }
  .strong_health_text_header .text_header2 {
    font-size: 15px;
  }
   p.text_body1{
    font-size: 20px;
  }
   p.text_body2{
    font-size: 15px;
  }
  .testimonial{
   height: 940px;
   padding-top: 50px;
  }
  .description{
    max-width: 750px;
  }
  .description_circle{
    padding: 15px;
    max-width: 130px;
    height: 130px;
  }
  .description_circle_text {
    padding-top: 10px;
  }
  .description_circle_text_up{
    font-size: 32px;
  }
  .description_circle_text_down{
    font-size: 18px;
  }
  .testimonial_container hr {
    margin-bottom: 50px;
    max-width: 600px;
}
  .offer_products_up_text {
    max-width: 700px;
    margin: 0 auto;
  }
  .offer_products_a p {
     font-size: 35px;
  }
  .offer_products .organic_products_footer .org_prod_fon:last-child {
    display: none;
  }
  .eco_friendly_fon_left {
    max-width: 405px;
    max-height: 800px;
  }
  .eco_friendly_a {
    max-width: 285px;
    height: 625px;
    padding: 0px 40px 95px 60px;
  }
  .eco_friendly_a h2 {
    font-size: 20px;
  }
  .eco_friendly_a h3 {
    font-size: 18px;
  }
  .eco_friendly_a p {
    font-size: 13px;
  }
  .subs {
    max-width: 700px;
    padding: 44px 27px;
  }
  .subs_container h2 {
    font-size: 30px;
  }

  .email input {
    max-width: 250px;
  }
  .footer_content_center {
    max-width: 360px;
  }

  .footer_content {
    max-width: 700px;
    gap: 20px;
    margin: 0 auto;
  }
  .footer_content .footer_content_title h2,
  .footer_content .footer_content_title h2 {
    font-size: 25px;
  }
  
  .footer_content_block a {
    font-size: 14px;
  }
  
  .flex {
    
    gap: 24px;
  }
  
  .footer_content_icons {
    gap: 16px;
  }

}
@media (max-width:768px) {
.natural {
  max-width: 550px;
}  
.li_items {
margin: 20px 0 0 95px;
}
.welcom {
  height: 500px;
  margin: 0;
}

.welcom_text div.text {
  padding-top: 40px;
}

.welcom_text h1 {
  font-size: 50px;
}
.button_range {
  padding: 15px 15px;
  font-size: 20px;
}
.button_range::first-letter {
  padding: 15px 90px;
}
.width_height {
  margin: 20px 0 20px 0;
  text-align: center;
  padding: 200px 45px
}

.description{
  max-width: 950px;
  margin: 0 auto;
  justify-content: space-between;
}
.border_green{
  max-width: 140px;
  max-height: 140px;
 
}
.description_circle {
  max-width: 130px;
  max-height: 130px;
  padding: 0;
  
}
.border_green {
  margin-right: 0;
}
.description_circle_text_up{
  font-size: 30px;
}
.description_circle_text_down{
  font-size: 14px;
}

.width_height {
  text-align: center;
}
.range_nuts a.button_range {
  font-size: 18px;
  padding: 15px 22px;
}
.subs{
  max-width: 550px;
}

.subs_container h2 {
  font-size: 25px;
  line-height: 40px;
}

.email input {
  max-width: 200px;
}
.email input::placeholder {
  font-size: 15px;
}
.email a {
  padding: 30px 13px
}
.email a img {
  max-width: 25px;
  height: 25px;
  top: 7px;
  left: 0;
}

.footer_content {
  gap: 20px;
}

.flex {
  
  gap: 24px;
}

.footer_content_icons {
  gap: 16px;
}
} 
@media (max-width:640px) {
  .menu {
    max-width: 600px;
  }
 
  .welcom {
    height: 500px;
    margin: 0;
  }
  .welcom_text {
    max-width: 550px;
    max-height: 550px;
  }
  .welcom_text div.text {
    padding-top: 80px;
  }
  
  .welcom_text h1 {
    font-size: 40px;
    line-height: 50px;
  }
  
  .natural {
    margin: 20px 0 20px 20px;
  }
  .natural a{
    margin: 0 auto;
    max-width: 600px;
  }
  .natural_foods {
    height: 190px;
    padding: 25px 0 0 55px;
  }
  .natural_foods_stonks {
    height: 190px;
    padding: 25px 0 0 55px;
  }
  
  .strong_health {
   padding: 30px 0 50px 0;
  }
 
  .strong_health_img img {
   max-width: 340px;
    height: 305px;
  }

  .strong_health_text_header .text_header1 {
    font-size: 20px;
    line-height: 30px;
  }
  .strong_health_text_header .text_header2 {
    font-size: 13px;
  }
   p.text_body1{
    font-size: 18px;
  }
   p.text_body2{
    font-size: 15px;
    line-height: 25px;
  }
  
  .strong_health_text_body img {
    max-width: 55px;
    height: 55px;
  }

  .org_prod_fon {
    padding: 10px;
    max-width: 180px;
    height: 400px;
  }
  .org_prod_fon img {
    max-width: 180px;
    height: 200px;
  }

  .nazvanie_prod{
    font-size: 15px;
  }
  div.organic_products div a div.underline {
    display: inline-block;
  }

  .price{
    margin: 0;
  }
  .grade{
    margin: 0;
  }

  .testimonial{
   height: 1635px;
  }
  .testimonial_container {
    max-width: 388px;
  }

  .description{
    display: block;
  }
  .description_circle{
    margin: 0 auto;
  }
  .border_green {
    margin: 20px auto;
    max-width: 160px;
  }
  .border_green:last-child {
    margin: 0 auto
  }

  .offer_products_container{
    max-width: 550px;
    text-align: center;
  }
  .offer_products .organic_products_footer {
    text-align: center;
    flex-wrap: wrap;
  }

  .offer_products_a a{
    position: relative;
    right: 80px;
  }
  .offer_products_a p {
     font-size: 30px;
  }
  .offer_products{ 
    height: 1614px;
  }
  
  .offer_products .organic_products_footer .org_prod_fon:last-child {
    display: block;
    margin: 20px auto;
  }
  .offer_products .organic_products_footer .org_prod_fon {
    margin-top: 20px;
    margin-left: auto;
    margin-right:auto ;
  }
  .View a{
    font-size: 15px;padding: 22px;
  }
  .View a img {
    max-width: 25px;
    height: 25px;
    left: 0;
    top: 7px;
    
  }
  
  .button_range {
    font-size: 18px;
  }
 
  .footer_content_center .logo2 img {
    max-width: 150px;
    height: 50px;
  }
  
  .footer_content {
    gap: 10px;
    max-width: 500px;
  }
  
  .marg {
    margin-bottom: 10px;
  }
  
  .right a {
    font-size: 12px;

  }
  .right {
    margin-bottom: 10px;
  }
  
  .footer_content .footer_content_title h2,
  .footer_content .footer_content_title h2 {
    font-size: 15px;

  }
  
  .footer_content_block h3 {
    font-size: 12px;
    margin-bottom: 10px;
  }
   
  .flex {
    font-size: 15px;
    gap: 15px;
  }
  
  .footer_content_text p {
    font-size: 15px;
  }

  .footer_content_icons {
    
    gap: 16px;
  }
  .footer_content_icons a img {
    max-width: 40px;
    height: 40px;
  }
} 
@media (max-width:426px) {
  .menu {
    max-width: 300px;
    display: block;
    text-align: center;
    height: 150px;
    padding-top: 7px;
    height: 117px;
  }
  .hamburger-menu {
    margin: 0 ;
    max-width: 100px;
  }
  .menu__btn {
    margin-left: 140px;
  }
  .welcom {
    height: 300px;
    margin: 0;
  }
  .welcom_text {
    max-width: 300px;
    height: 300px;
  }
  .welcom_text div.text {
    padding-top: 40px;
  }
  .welcom_text p {
    font-size: 30px;
  }
  .welcom_text h1 {
    font-size: 25px;
    line-height: 30px;
  }
  .welcom_text a {
    padding: 20px;
  }
  .welcom_text a img {
    left: 5px;
  }
  .natural {
    max-width: 300px;
  }
  .natural_foods {
    max-width: 370px;
    padding: 0 0 0 10px;
  }
  .natural_foods_stonks {
    max-width: 370px;
    padding: 0 0 0 10px;
  }

  .strong_health_img {
    display: none;
   
  }
  .strong_health_text_header h2{
    font-size: 20px;
  }
  .organic_products {
    margin: 35px auto;
  }
  .org_text {
    margin-bottom: 10px;
  }
  .org_text h2 {
    font-size: 20px;
  }
  .org_text p {
    font-size: 20px;
  }
  
  .offer_products_up_text{ 
    max-width: 350px;
    display: inline-block;
    margin-bottom: 60px;
  }
  .offer_products_a a{
    font-size: 20px;
    right: 0;
  }
 
  .Friendly_container {
    flex-direction: column;
  }

  .eco_friendly_fon_left {
    max-width: 420px;
    height: 240px;
  }
  .eco_friendly_a {
    right: 0;
  }
  
  
  .range {
    padding: 10px 0;
  }
  
  .width_height {
    padding: 115px 35px;
  }
  .button_range {
    padding: 15px 3px;
    font-size: 15px;
  }
  .subs{
    max-width: 300px;
    padding: 30px 40px;
  }
  
  .email {
    display: inline-block;
    margin-left: 20px;
  }
  .email input {
    max-width: 150px;
    height: 50px;
    padding-left: 0;
  }
  .email input::placeholder {
    font-size: 10px;
    margin-left: 13px;
  }
  .email a {
    padding: 4px 18px;
  }
  
  .footer {
    max-width: 300px;
    margin: 0 auto;
  }
  
  
  .footer_content_left {
    max-width: 150px;
    height: 300px;
    text-align: center;
  }
  
  .footer_content_center {
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
    border-right: none;
    border-left: none;
  }
  
  .footer_content_right {
    margin: 0 auto;
    max-width: 110px;
    text-align: center;
  }
  
  .footer_content {
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
  }
  
  .flex {
    gap: 24px;
  }

  
  .footer_content_icons {
    gap: 10px;
  }
} 
@media (max-width:376px) {
  .welcom {
    height: 500px;
    margin: 0;
  }
  
  .welcom_text div.text {
    padding-top: 40px;
  }

  .welcom_text h1 {
    font-size: 50px;
    line-height: 50px;
  }
  
  .natural_foods {
    max-width: 320px;
  }
  .natural_foods_stonks {
    max-width: 320px;

  }
  
  .testimonial_container hr {
    max-width: 300px;
  }
  .testimonial_text_header h2 {
    font-size: 30px;
  }
  .testimonial_text_header p {
    font-size: 24px;
  }
 
  .offer_products{
    height: 1650px;
    padding-top: 40px;
  }
  
  .eco_friendly_fon_left {
    max-width: 370px;
    height: 240px;
  }
  
}
