@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat:wght@700&family=Open+Sans&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Ubuntu&family=Work+Sans:wght@400;700&family=Yellowtail&display=swap');body,

h1,
p,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
a,
p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */

  letter-spacing: 0.36px;

  color: #274C5B;
  }
a {
  text-decoration: none;
}

ul li {
  list-style: none;
}
.menu {
  max-width: 1380px;
  display: flex;
  margin: 40px auto 0;
}
.menu__box {
  display: flex;
}
.menu__box li.li_item {
  text-align: center;
  padding-left: 52px;
  padding-top: 15px; 
}
.menu__box li.li_item:last-child{
  padding-top: 0;
}
.menu__item {    
  display: flex;
  transition: 0.5s;
}
.menu__item:hover {
  color: #7EB693;
}

.menu__items {
  display: flex;
}
.li_items {
  border:2px solid #D4D4D4;
  max-width: 140px;
  height: 55px;
  border-radius: 33px;
  margin-left: 400px;
  padding: 7px;
  
}
.li_items img {
  max-width: 55px;
  height: 55px;
  transition: 0.9s;
}
li.li_items a:hover > img {
  -webkit-transform: rotateZ(-20deg);
  -ms-transform: rotateZ(-20deg);
  transform: rotateZ(1080deg);
}
.menu__items h2 {
  padding: 10px;
}
#menu__toggle {
  display: none;
}
.welcom {
  background-image: url(../img/img1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 915px;
  max-width: 100%;
  margin-top: 40px;
}
.welcom_text {
  max-width: 1380px;
  margin: 0 auto;
}
.welcom_text div.text {
  padding-top: 220px;
  max-width: 500px;
  height: 450px;
}
.welcom_text p {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #7EB693;
}
.welcom_text h1 {
  font-weight: 700;
  font-size: 70px;
  margin: 15px 0 30px 0;
  line-height: 84px;
}
.welcom_text a {
  background: #EFD372;
  max-width: 220px;
  height: 80px;
  padding: 30px;
  border-radius: 16px;
  font-size: 19px;
  line-height: 32px;
  transition: 0.9s;
}
.welcom_text a img {
  position: relative;
  top: 10px;
  left: 20px;
  transition: 0.9s;
}
.welcom_text div.text div a:hover > img {
  -webkit-transform: rotateZ(-20deg);
  -ms-transform: rotateZ(-20deg);
  transform: rotateZ(1080deg);

}
.welcom_text div.text div a:hover {
  box-shadow: 10px 10px 50px 10px rgb(97, 97, 97);
}
.natural {
  max-width: 1380px;
  margin: 140px auto;
  display: flex;
}
.natural_foods {
  background-image: url(../img/img2.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  max-width: 100%;
  height: 275px;
  margin-right: 50px;
  
}
.natural img {
  max-width: 100%;
  max-height: 655px;
}
.natural_foods_stonks {
  
  background-image: url(../img/img3.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  max-width: 100%;
}

.strong_health {
  background: #F9F8F8;
  padding: 130px 0 140px 0;
}
.strong_health_container {
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
}
.strong_health_img {
  padding-top: 45px;
}
.strong_health_text {
  margin-left: 30px;
}
.strong_health_text_header h2{
  font-family: 'Yellowtail';
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #7EB693;
}
.strong_health_text_header .text_header1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.strong_health_text_header .text_header2 {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #525C60;
  margin-bottom: 55px;
}
 p.text_body1{
  font-size: 25px;
  line-height: 35px;
  padding-bottom: 10px;
}
 p.text_body2{
  font-size: 18px;
  line-height: 32px;
  font-family: 'Open Sans';
}

.organic,
.quality {
  display: flex;
  margin-bottom: 30px;
}
.quality {
  margin-bottom: 55px;
}
.strong_health_text_body img {
  margin-right: 20px;
}
.strong_health_text_footer a {
  max-width: 200px;
  height: 80px;
  background: #274C5B;
  color: white;
  padding: 20px;
  border-radius: 16px;
  font-size: 19px;
  line-height: 32px;
}
.strong_health_text_footer a img {
  position: relative;
  top: 10px;
  left: 10px;
}
.organic_products {
  max-width: 1380px;
  margin: 140px auto;
}
.org_text {
  text-align: center;
  margin-bottom:40px ;
}
.org_text h2 {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  text-align: center;
  color: #7EB693;
}
.org_text p {
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
}
.organic_products_header {
  display: flex;
}
.organic_products_footer {
  display: flex;
}
.org_prod_fon {
  max-width: 390px;
  height: 530px;
  background: #F9F8F8;
  border-radius: 30px;
  padding: 30px;
  margin: 0 20px 20px 0;
  transition: 0.5s;
}
.org_prod_fon:hover {
  transform: scale(0.8);
}
.up_text {
  background: #274C5B;
  border-radius: 8px;
  padding: 5px 20px;
  max-width: 120px;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
}
.nazvanie_prod{
  font-size: 22px;
}
div.organic_products div a div.underline {
  display: flex;
  
}
.procherk {
  font-family: 'Open Sans';
  text-decoration: line-through;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.36px;
  text-decoration-line: line-through;
  color: #B8B8B8;
}
.price{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  margin:0 10px;
}
.grade{
  position: relative;
  font-size: 20px;
  display: inline-block;
  margin-left: 75px;
}
.grade::before {
  content: "★★★★★";
  display: block;
}
.grade_item{
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.rating_inp{
  position: absolute;
  max-width: 0%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
}
.rating_label{
  flex: 0 0 20%;
  height: 100%;
  cursor: pointer;
  color: rgb(96, 96, 96);
}
.rating_label::before {
  content:"★";
  display: block;
  transition: color 0.3s ease 0s;
}
.rating_inp:checked,
.rating_inp:checked~.rating_label {
  color: #FFA858;

}
.rating_label:hover,
.rating_label:hover~.rating_label,
.rating_label:checked~.rating_label:hover {
  color: #ffc800;
}
.org_prod_fon a hr {
  border: none;
  height: 1px;
  background-color: #D4D4D4;
}
.testimonial{
  background-image: url(../img/img10.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 1120px;
  padding-top: 130px;
}
.testimonial_container {
  max-width: 1110px;
  margin: 0 auto;
  text-align: center;
}
.testimonial_container hr {
  border: none;
  height: 2px;
  background: #E0E0E0;
  margin-bottom: 100px;
  max-width: 960px;
}
.testimonial_text_header h2 {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  color: #7EB693;
}
.testimonial_text_header p {
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  margin-bottom: 60px;
}
.testimonial_grade .grade {
  margin: 20px auto 30px;
  font-size: 30px;
}
.testimonial_text_body_one{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #525C60;
  margin-bottom: 25px;
}
.testimonial_text_body_two{
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
}
.testimonial_text_body_three{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #525C60;
  margin-bottom: 100px;
}
.description{
  display: flex;
  justify-content: space-between;
}
.description_circle{
  width: 155px;
  height: 155px;
  padding: 42px;
  background: #F1F1F1;
  border: 5px solid white;
  border-radius: 50%;
}
.border_green {
  border: 6px solid #7EB693;
  border-radius: 50%;
  margin-right: 20px;
}
.border_green:last-child {
  margin-right: 0;
}
.description_circle_text {

  padding-top: 40px;
}
.description_circle_text_up{
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
}
.description_circle_text_down{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
.offer_products{
  background: #274C5B;
  height: 920px;
  padding-top: 140px;
}
div.underline {
  display: flex;
}
.offer_products_container{
  max-width: 1380px;
  margin: 0 auto;
}
.offer_products_up_text{ 
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.offer_products_a a{
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  color: #7EB693;
}
.offer_products_a p {
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0.36px;
  text-transform: capitalize;
  color: #FFFFFF;  
}
.offer_products .organic_products_footer .org_prod_fon:last-child {
  margin: 20px 0 0 0;
}
.View a{
  background: #EFD372;
  max-width: 220px;
  height: 80px;
  padding: 30px;
  border-radius: 16px;
  font-size: 19px;
  line-height: 32px;
  margin-top: 20px;
  position: relative;
  top: 50px;
}
.View a img {
  position: relative;
  top: 10px;
  left: 20px;
}
.Friendly_container {
  display: flex;
  
}
.eco_friendly_right {
  background: #FFFFFF;
  display: flex;
}
.eco_friendly_fon_left {
  max-width: 700px;
  max-height: 100%;
  margin-right: 0;
}
.eco_friendly_fon_left img{
  max-width: 710px;
  max-height: 705px;
}
.eco_friendly_a {
  padding: 40px 40px 55px 60px;
  background-color: #FFFFFF;
  max-width: 615px;
  height: 525px;
  border-radius: 30px 0px 0px 30px;
  position: relative;
  right: 60px;
  margin-top: 60px;
}
.eco_friendly_a a {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 65px;
  color: #7EB693;
}
.eco_friendly_a h2 {
  font-size: 44px;
  margin-bottom: 30px;
}
.eco_friendly_a h3 {
  font-size: 23px;
  margin-bottom: 5px;
}
.eco_friendly_a p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #525C60;
  margin-bottom: 15px;
}
.range {
  margin: 100px auto;
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: max-content;
  grid-auto-columns: max-content;
  min-height: 300px
  }
.range_fruit{
  background-image: url(../img/img6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: scroll;
}
.range_organic{
  background-image: url(../img/img7.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: scroll;
}
.range_nuts{
  background-image: url(../img/img8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: scroll;
}
.range div a:hover {
  background-color: aqua;
  
}
.width_height {
  padding: 245px 115px
}
.button_range {
  padding: 30px 55px;
  background: #FFFFFF;
  border-radius: 20px;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  transition: 0.9s;
}
.subs{
  max-width: 1380px;
  margin: 30px auto;
  background-image: url(../img/img9.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-attachment: scroll;
  height: 120px;
  padding: 100px 70px;
  border-radius: 30px;
}
.subs_container{
  display: flex;
  justify-content: space-between;
}
.subs_container h2 {
font-weight: 700;
font-size: 50px;
line-height: 60px;
color: #FFFFFF;
}
.email {
  margin-top: 20px;
}
.email input {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 16px;
  max-width: 320px;
  height: 82px;
  padding-left: 30px;
}
.email input::placeholder {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #525C60;
}
.email a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  background: #274C5B;
  border-radius: 16px;
  padding: 30px 35px;
  position: relative;
  top: 2px;
  
}
.email a img {
  position: relative;
  top: 12px;
  left: 10px;
}
.vertical {
  max-width: 2px;
  height: 670px;
  border: none;
  background-color: #274C5B;
}
.footer {
  margin: 88px 0 88px 0;
}


.footer_content_left {
  max-width: 270px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer_content_center {
  max-width: 670px;
  height: 370px;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-left: 1px solid rgba(74, 74, 74, 0.209);
  border-right: 1px solid rgba(74, 74, 74, 0.209);
}

.footer_content_right {
  max-width: 335px;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer_content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.marg {
  text-align: right;
  margin-bottom: 35px;
}

.right {
  text-align: right;
  margin-bottom: 40px;
}

.footer_content .footer_content_title h2,
.footer_content .footer_content_title h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: #274C5B;
}

.title2 {
  margin-bottom: 20px;

}

.footer_content_block > h3 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.36px;
  color: #525C60;
  margin-bottom: 5px;
}

.footer_content_block a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: 0.36px;
  color: #525C60;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  gap: 24px;
}

.logo2 {
  margin-bottom: 44px;
}

.footer_content_text p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.36px;
  color: #525C60;
}

.footer_content_text {
  margin-bottom: 50px;
}

.footer_content_icons {
  display: flex;
  gap: 60px;
}
iframe {
  width: 100%;
}