
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yellowtail', cursive;
    letter-spacing: 0.36px;
}

.container {
    max-width: 1440px;
    margin: auto;
}

ul  li {
    list-style: none;
}

li > a {
    display: inline-block;
    text-decoration: none;
}

h1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
    color: #274C5B;
    margin-top: 14px;
}

h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    color: #274C5B;
}

h3 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #274C5B;
}

h4 {
    font-family: 'Yellowtail';
    font-size: 36px;
    text-transform: capitalize;
    color: #7EB693;
}

button {
    display: flex;
    padding: 25px 30px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

.button__item {
    border: 0.1px solid #274C5B;
    border-radius: 50%;
    background-color: #274C5B;
    align-self: center;
    padding: 8px;
}

button p{
    align-self: center;
    font-family: 'Roboto';
    font-size: 19px;
    text-transform: capitalize;
    margin-right: 20px;
}

.header  {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: #FFFFFF;
}

.header__nav {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__link {
    display: flex;
}

.header__link li {
    margin-right: 40px;
}

.header__link li a:hover {
    color: #7EB693;
    transition: 0.5s;
}

.header__link li > a {
    font-family: 'Roboto';
    font-size: 19px;
    color: #274C5B;
}

.header__button {
    padding: 7px 20px 7px 11px;
    background-color: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 33px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header__button__item {
    padding: 20px;
}

.header__button p {
    font-family: 'Roboto';
    font-size: 17px;
    color: #274C5B;
    margin-left: 10px;
}

.welcome {
    background: url("../images/img/header_img.png") top left/cover no-repeat;
    /* min-height: 910px; */

}
.welcome__wrapper {
    min-height: 910px;
    margin-top: 140px;
    position: relative;
}
.welcome__descr {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    max-width: 500px;
}

.welcome__descr .button,
.offer__descr .button {
    margin-top: 30px;
    background-color: #EFD372;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
}
.welcome__descr button p,
.offer__descr button p {
    color: #274C5B;
}

.promo {
    padding: 90px 0 140px 0;
}

.promo__items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.promo__item {
    position: relative;
}

.promo__img {
    width: 100%;
}

.promo__text {
    position: absolute;
    top:50%;
    left: 55px;
    transform: translate(0, -50%);
    max-width: 265px;
}

.promo__text_white h4,
.promo__text_white h3 {
    color: #FFFFFF;
}

.about {
    padding: 130px 0;
    background-color: #F9F8F8;
}

.about__wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, auto);
}

.about__wrapper  .about__img {
    width: 100%;
    grid-row: 1 / 7;
}

.about__wrapper h4 {
    grid-column: 2;
    grid-row: 1 / 2;
}

.about__wrapper h2 {
    grid-column: 2;
    grid-row: 2 / 3;
}

.about__wrapper p {
    grid-column: 2;
    grid-row: 3 / 4;
}

.about__wrapper .about__item__one {
    grid-column: 2;
    grid-row: 4 / 5;
}

.about__wrapper .about__item__two {
    grid-column: 2;
    grid-row: 5 / 6;
}

.about__wrapper .button {
    grid-column: 2;
    grid-row: 6 / 7;
} 

.about__item {
    display: flex;
    justify-content: space-around;
}

.about__item__img{
    padding: 27px 24px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.about__subtittle {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 25px;
    color: #274C5B;
}

.about__text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #525C60;
}
.about .button {
    background: #274C5B;
    border: 1px solid #274C5B;
    max-width: 210px;
    max-height: 82px;
}
.about .button p {
    color: #FFFFFF;
}
.about .button__item {
    padding: 10px;
    background-color: #335B6B;
    align-self: center;
} 
.products {
    padding: 120px 0;
}
.products__wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}
.products__tittle {
    grid-column: span 3;
    text-align: center;
}
.products__item__img {
    width: 100%;
}
.products__items,
.offer__items {
    background-color: #F9F8F8;
    padding: 30px;
    border-radius: 20px;
}

.products__items img:hover {
    border-top: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
.products__item_subtittle,
.offer__item_subtittle {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #274C5B;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    max-width: 118px;
    text-align: center;
    padding: 8px;
}
.products__item__name,
.offer__item__name {
    font-family: 'Roboto';
    font-size: 22px;
    color: #274C5B;
    margin-bottom: 11px;
}
hr {
    background: #D4D4D4;
}
.products__price,
.offer__price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}
.products_price__through,
.offer_price__through {
    font-family: 'Open Sans';
    font-size: 17px;
    text-decoration-line: line-through;
    color: #B8B8B8;
}
.products_price__now,
.offer_price__now {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    color: #274C5B;
}

.customer {
    background: url(../images/img/customer_backg.png) center center/cover no-repeat;
    padding: 130px;
}

.customer__descr {
    text-align: center;
}

.customer__descr__text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #525C60;
    max-width: 940px;
    margin-top: 30px;
    margin: 0 auto;
}
.customer__foto {
    margin-top: 60px;
}

.customer__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #274C5B;
    margin-top: 20px;
}

.customer__job {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #525C60;
    margin-top: 5px;
}

.customer hr {
    margin: 80px 0;
}
.customer__statistics {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.customer__statistic__item {
    background-color: #F1F1F1;
    /* padding: 80px 50px; */
    border-radius: 50%;
    border: 6px solid #7EB693;
    width: 23%;
    padding-top: 7%;
    padding-bottom: 7%;
}

.customer__statistic__item .one{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 42px;
    color: #274C5B;
    text-align: center;
}
.customer__statistic__item .two {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    color: #274C5B;
    text-align: center;
}
.offer {
    background: #274C5B;
    padding: 140px 0;
}
.offer__descr {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.offer__descr .button {
    max-width: 270px;
    max-height: 80px;
}
.offer__descr h2 {
    color: #FFFFFF;
    margin-top: 20px;
}

.offer__items {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    gap: 20px;
    background-color:#274C5B;
    margin-top: 20px;
    padding: 0;
}

.offer__item {
    background-color: #F9F8F8;
    padding: 20px;
    border-radius: 20px;
}

.offer__item_img {
    width: 100%;
}
.offer_price__now {
    text-align: left;
}
.offer__price img {
    width: auto;
}
.advantage__wrapper {
    position: relative;
}
.advantage__descr {
    padding: 40px 60px;
    max-width: 720px;
    position: absolute;
    top: 10%;
    left: 45%;
    z-index: 1;
    background-color: #FFFFFF;
    border-radius: 30px;
}

.advantage__list > li {
    margin-top: 10px;
}

.advantage__list > li:nth-child(odd) {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 23px;
    color: #274C5B;
}
.advantage__list > li:nth-child(even) {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #525C60;
}
.catalog {
    background-color: #EFF6F1;
}
.catalog__wrapper {
    padding: 140px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
.catalog__item img {
    width: 100%;
}
.catalog__item {
    position: relative;
    cursor: pointer;
}
.catalog__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 30px;
    width: 60%;
}
.catalog__name__text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #274C5B;
    width: auto;
}
.letter__background {
    background: url(../images/img/footer_img.png) center center/cover no-repeat;
    min-height: 120px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 100px 70px;
}
.letter__item {
    display: flex;
    justify-content: space-between;
}
.letter__name {
    max-width: 320px;
}
.letter__name h2 {
    color: #FFFFFF;
}
.letter__form {
    display: flex;
    align-items: center;
    width: 50%;
}
.letter__form input {
    width: 60%;
    padding: 28px;
    border-radius: 20px;
    margin-right: 20px;
    border: none;
}
.letter__form button {
    background-color: #274C5B;
    border: none;
    color: #FFFFFF;
    padding: 20px 30px;
}
.letter__form .button__item {
    background-color: #335B6B;
}
footer {
    padding: 100px 0;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 85px;
}
.footer__contacts,
.footer__media,
.footer__pages {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #525C60;
}
.footer__contacts {
    text-align: end;
}
.footer__contacts li:nth-child(even){
    font-weight: 700;
    margin-top: 40px;
}
.footer__contacts li:first-child{
    font-size: 30px;
    font-weight: 700;
}
.footer__media {
    text-align: center;
}
.footer__media p {
    margin-top: 50px;
    max-width: 570px;
    line-height: 32px;
}
.footer__pages {
    text-align: start;
}
.footer__media__items {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    width: 100%;
}
.footer__media__items:hover {
    cursor: pointer;
}
.footer__media__item {
    padding: 20px;
    border-radius: 50%;
    background-color: #EFF6F1;
    margin-left: 15px;
    width: 12%;
}

.footer__pages li:first-child {
    font-weight: 700;
    font-size: 30px;
    margin-top: 0;
}
.footer__pages li {
    margin-top: 25px;
}
.footer__bot iframe {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}
.footer__bot__small {
    display: none;
}