@media (max-width: 1480px) {
  .section-8 {
    column-gap: 0px;
  }
  .footer-location iframe {
   max-width: 100%;
  }   
  .section-7_background {
    display: none;
  }
  .section-7_info {
    margin-left: 0px;
    background-image: url(/Images/section_7_background.png);
    max-width: 100%;
    background-repeat: no-repeat;
  }
  .common-information .information {
    font-size: 24px;
    color: rgb(236, 55, 55);
  }
  .section-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1150px) {
  .section-5_bot_circle {
    width: 230px;
    height: 230px;
  }
}
@media (max-width: 1080px){
  .container .logo-list {
    width: 100%;
  }
  .burger {
    width: 50px;
    height: 30px;
    display: block;
    row-gap: 10px;
    position: absolute;
    right: 20px;
    top: 30px;
  }
  .logo-list ul {
    display: none;
  }
  .logo-list ul li:nth-last-child(1) {
    margin-left: 0px;
    margin-right: 0;
  }
  .logo-list ul {
    margin: 0px;
    width: 100%;
    background-color: #fff;   
    position: relative;
    top: 15px; 
      }
  .logo-list ul li {
    width: 100%;
    text-align: center; 
  }
  .logo-list ul li:hover {
    background-color: #acacac;
  }
}
@media (max-width: 950px) {
 
  .form-button {
        margin: 0;
      }
  .form-button input {
    display: none;
  }
  .section-6_products .card {
    margin: 0;
  }
  .section-7 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 800px;
  }
  .container_info {
    margin: 0;
  }
}
@media(max-width: 580px) {
  .section-3__img {
    display: none;
  }
  .section-3_text-part {
    background-image: url(/Images/section_3.png);
  }
 
  .section-9__text {
    display: none;
  }
  .footer-info {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .section-7_info {
    height: auto;
  }
  .section-8 {
    height: auto;
  }
}
@media (max-width: 500px) {
  .card {
    max-width: auto;
  }
  .food {
    width: auto;
    height: auto;
  }
  .food {
    max-width: 300px;
  }
  .card {
    max-width: 300px;
  }
  .card img {
    display: none;
  }
  .card-price {
    max-width: 300px;
  }
}
@media (max-width: 400px) {
  .card {
    max-width: 280px;
  }
  .food {
    max-width: 270px;
  }
  nav {
    display:grid;
  grid-template-columns: 1fr;
}
h1 {
  font-size: 60px;
}
}